body {
  /*background: url('christmas-background.jpg') no-repeat center center fixed;*/
  /*background-size: cover;*/
  color: #333;
  font-family: 'Mountains of Christmas', cursive;

}

h1 {
  color: #d33b2b; /* Festive Red */
  text-align: center;
  font-size: 2em;
}

button {
  background-color: #2b8d33; /* Christmas Green */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: #d1a800; /* Gold */
}

input {
  border: 2px solid #2b8d33;
  padding: 10px;
  margin-top: 5px;
  font-size: 1em;
}